/* Sidebar */
.admin-sidebar {
  padding: 12px 24px 12px 12px;
  margin-right: 10px;
  background-image: linear-gradient(to top right, #3572EF, #B4D4FF);
  border-radius: 25px;
  min-width: 250px;
}

.sidebar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0 48px;
}

.sidebar-brand--image {
  width: 150px;
  margin: auto;
}

.sidebar-menu {
  margin: 64px 0;
}

.sidebar-item {
  font-size: 18px;
  margin-left: 16px;
  margin-bottom: 24px;
  padding: 4px;
  position: relative;
  cursor: pointer;
}

.sidebar-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 3px;
  border-radius: 10px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.sidebar-item:hover::after {
  width: 95%;
}

.sidebar-item--icon {
  margin-right: 16px;
  font-size: 20px;
  color: white;
}

.sidebar-item--link {
  text-decoration: none;
  color: white;
  font-weight: 600;
}


/* Navbar */
.navbar {
  transition: background-color 0.15s ease, box-shadow 0.15s ease;
  background-color: transparent;
  box-shadow: none;
}

.navbar.scrolled {
  margin-top: 10px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #dadada;
  border-radius: 30px;
}