/* Login page */
.admin-login-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/imgs/admin_login_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.admin-login-content {
  width: 60%;
  padding: 10px;
  margin: 20px;
}

.admin-login-title-side--heading {
  font-size: 48px;
}

.admin-login-title-side--divide {
  display: block;
  max-width: 30%;
  height: 10px;
  margin: 50px 0;
  background-color: #6493ef;
  border-radius: 25px;
}

.admin-login-form-side {
  padding: 20px;
  background: rgba(166, 161, 161, 0.071);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.admin-login-form-side h1 {
  margin-bottom: 12pxx;
}

.admin-login-form--field-title {
  font-weight: 600;
  margin: 0;
}

.admin-login-form--field-title:not(:first-child) {
  margin-top: 16px;
}

.admin-login-form--field-input {
  margin: 4px 0;
  width: 100%;
  padding: 8px 24px;
  border: 0.5px solid #eee;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.admin-login-form--submit {
  padding: 4px;
  margin-top: 36px;
  background-color: #d3d5d8;
  border-radius: 160px;
}

.admin-login-form--submit:hover {
  opacity: 0.5;
}

.admin-login-form--submit button {
  width: 100%;
  padding: 4px 0;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 24px;
  background-color: #fff;
}

/* Sidebar */
.admin-sidebar {
  padding: 12px 36px 12px 8px;
  margin-right: 10px;
  background-image: linear-gradient(to top right, #3572EF, #B4D4FF);
  border-radius: 25px;
  min-width: 250px;
}

.sidebar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0 48px;
}

.sidebar-brand--image {
  width: 150px;
  margin: auto;
}

.sidebar-menu {
  margin: 64px 0;
}

.sidebar-item {
  font-size: 18px;
  margin-left: 16px;
  margin-bottom: 24px;
  padding: 4px;
  position: relative;
  cursor: pointer;
}

.sidebar-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 3px;
  border-radius: 10px;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

.sidebar-item:hover::after {
  width: 95%;
}

.sidebar-item--icon {
  margin-right: 16px;
  width: 30px;
  height: 30px;
  color: white;
}

.sidebar-item--link {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.activeLink .sidebar-item--icon {
  padding: 4px;
  width: 36px;
  height: 36px;
  color: #3572EF;
  background-color: white;
  border-radius: 50px;
}

.activeLink .sidebar-item--link {
  font-size: 17px;
  font-weight: 600;
}

/* Mobile sidebar */
.mobile-sidebar {
  position: relative;
}

.mobile-sidebar-list {
  position: absolute;
  bottom: -125px;
  left: 45px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  min-width: 250px;
  padding: 10px 20px;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  cursor: default;
}

.mobile-sidebar-item {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  transition: 0.3s;
}

.mobile-sidebar-item--icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  opacity: 0.7;
}

.mobile-sidebar-item--link {
  text-decoration: none;
  color: black;
}

.mobile-sidebar ul li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.mobile-sidebar.active ul {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}

.mobile-sidebar.active ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  transition: 0.3s;
}

.mobile-sidebar-item:hover {
  font-weight: 600;
}

.mobile-sidebar-item:hover .mobile-sidebar-item--icon {
  opacity: 1;
}

/* Navbar */
.navbar {
  transition: background-color 0.15s ease, box-shadow 0.15s ease;
  background-color: transparent;
  box-shadow: none;
}

.navbar.scrolled {
  margin-top: 10px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #dadada;
  border-radius: 30px;
}

.navbar-others {
  position: relative;
  user-select: none;
  transition: 0.3s;
}

.navbar-others--icon {
  width: 24px;
  height: 24px;
  color: black;
  cursor: pointer;
}

.navbar-others--menu {
  position: absolute;
  top: 30px;
  left: -150px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.navbar-others--menu ul {
  padding: 5px;
  margin: 0;
  min-width: 180px;
  list-style: none;
}

.navbar-others--menu ul li {
  padding: 10px;
}

.navbar-others--menu ul li:hover a {
  font-weight: 600;
}

.navbar-others--menu ul li a {
  width: 100%;
  display: block;
  color: black;
  text-decoration: none;
}

/* Main content */
.admin-main-content {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.admin-main-content main {
  padding: 24px 4px 4px 12px;
}